

<table class="table" >
<thead>
    <tr>
    <th>select</th>
    <th>name</th>
    <th>phone</th>
    <th>email</th>
    <th>company</th>
    <th>date_entry</th>
    <th>org_num</th>
    <th>address_1</th>
    <th>city</th>
    <th>zip</th>
    <th>geo</th>
    <th>pan</th>
    <th>pin</th>
    <th>id</th>
    <th>status</th>
    <th>fee</th>
    <th>guid</th>
    <th>date_exit</th>
    <th>date_first</th>
    <th>date_recent</th>
    <th>url</th>
   </tr>
</thead>
<tbody>
    <tr *ngFor="let item of infors | paginate:{itemsPerPage:10,currentPage:p}">
        <td><input type="checkbox"></td>
        <td>{{item.name}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.email}}</td>
        <td>{{item.company}}</td>
        <td>{{item.date_entry}}</td>
        <td>{{item.org_num}}</td>
        <td>{{item.address_1}}</td>
        <td>{{item.city}}</td>
        <td>{{item.zip}}</td>
        <td>{{item.geo}}</td>
        <td>{{item.pan}}</td>
        <td>{{item.pin}}</td>
        <td>{{item.id}}</td>
        <td>{{item.status}}</td>
        <td>{{item.fee}}</td>
        <td>{{item.guid}}</td>
        <td>{{item.date_exit}}</td>
        <td>{{item.date_first}}</td>
        <td>{{item.date_recent}}</td>
        <td>{{item.url}}</td>
        <td><button>submit</button></td>
    </tr>   
</tbody>


</table>
<pagination-controls (pageChange)="p=$event"></pagination-controls>

