*{
    margin: 0;
    padding:0;
}



table{
   
   border:"1";
   border-spacing: 0;
   border-collapse: collapse;
   text-align: center;
}
table tbody{
    display: block;
    height: 480px;

    overflow-y:scroll;
    overflow-x: scroll;
}

table  tr{
    display: table;
    width: 120%;
    table-layout: fixed;
    
}
table thead th{
    background: #ccc;
}
table tbody td{
    word-wrap: break-word;
    font-size: 10px;
}
